*~
_*
*.o
*.d
*.asm
*.sym
*.img
*/vectors.S
*/bootblock
*/entryother
*initcode
*nitcode.out
*/kernelmemfs
*mkfs
*kernel
*usys.S
*/.gdbinit
*/myapi.key
*-handin.tar.gz
*xv6.out*
.*/vagrant/
*/submissions/
